:root {
    --border-radius: 15px;
    --back-color: #d09134;
}

.mainform-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--back-color);
   
  }

  .mainform .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--opacity-color);
    
  }
  
  .mainform .navbar .now-page h1, 
  .mainform .navbar .other-page h1 { 
    padding-inline: 10px;
    padding-block: 3vh;
    margin: 0;
  
  }
  
  .mainform .navbar .now-page,
  .mainform .navbar .other-page :hover 
  {
    background-color: var(--opacity-color);
    cursor: pointer;
  }
  
  .mainform .navbar .exit-icon :hover {
    cursor: pointer;
    
  }
  
  
  
  .mainform .navbar .exit-icon img {
    position: relative;
    height: 10vh;
  }

.mainform {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


.mainform img {
    display: block;
}

