:root {
  --task-optional-info-color: rgb(237, 166, 0);
}


  .alltasks-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: var(--font);

  }

  .alltasks-container .navbar {
    width: 100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .navbar img {
    width: 76px;
    height: 100%;
  }

  .navbar .exit-icon :hover {
    background-color: rgba(255, 255, 255, 0.5);
  }



  .alltasks-container .other-page-title, .now-page-title {
    width:auto;
  }

  .alltasks-container .now-page-title {
    background-color: rgba(255, 255, 255, 0.5);
  }

  h1 {
    margin:0;
    padding:20px;
  }

  .alltasks-container .other-page-title :hover {
    background-color: rgba(255, 255, 255, 0.5);
    
  }

  .title h1 {
    margin: 0;
    padding: 20px;
    
    left: -50%;

  }

  .alltasks-container .input-fields {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width:100%;
  }

  .alltasks-container .input-field {
    width: 80%;
    height: auto;
    

  }

  .alltasks-container textarea {
    width: 100%;
    height: auto;
    resize:none;
    padding: 0;
    border-width: 0;
    border-radius: 2%;
  }

  .input-field input {
    width: 100%;
    padding: 0;
    border-width: 0;
    border-radius: 2%;
  }

  
  .alltasks-container form {
    width: 100%;
  }

  .card {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
  }


  .alltasks-container .task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
  }

  
  .alltasks-container .task-card-shell {
    width: 80%;
    padding: 0;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 10px;
    
    
    
  }

  .alltasks-container .task-card {
    margin: 0px;
    
  }

  .task-card * {
    
  }

  .task-card h2 {
    margin: 0;
    padding: 10px;
    
  }


 .alltasks-container .task-card-shell :hover {
    /* background-color: rgb(119, 255, 0);  */
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);

    
  }

  

  .task-card button {
    padding-inline: 15px;
    padding-block: 5px;
    border-width: 2px;
    background-color: var(--task-optional-info-color);
    pointer-events: all;
    
  }


   .mytasks-container {
    position: relative;
    height: 400vh; 
    background-image: url('../assets/saloon.png');
    background-size: cover;
    background-attachment: fixed;
  } 

  .alltasks-container .expanded-info {
    padding: 0;
    margin: 0;
    background-color: var(--task-optional-info-color);
  }

  .expanded-info p {
    margin: 0;
    padding: 15px;
  }

  
