:root {
  --task-optional-info-color: rgb(237, 166, 0);
  --opacity-color: rgba(255, 255, 255, 0.5);
}

.alltasks-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  font-family: var(--font);
}

.alltasks-background {
  height: 500vh;
  background-repeat: repeat;
  background-image: url(../assets/background3.png);
}

.alltasks-container .navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: var(--opacity-color);
  margin-bottom: 2vh;
  
}

.alltasks-container .navbar .now-page h1, 
.alltasks-container .navbar .other-page h1 { 
  padding-inline: 10px;
  padding-block: 3vh;
  margin: 0;

}

.alltasks-container .navbar .other-page,
.alltasks-container .navbar .now-page :hover 
{
  background-color: var(--opacity-color);
  cursor: pointer;
}

.alltasks-container .navbar .exit-icon :hover {
  cursor: pointer;
  
}



.alltasks-container .navbar .exit-icon img {
  position: relative;
  height: 10vh;
}

.alltasks-container .navbar .exit-icon img:hover {
  
}

.alltasks-container .tasklist {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 100%;
}

.alltasks-container .tasklist .taskcard {
  display: flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-block: 2vh;
  background-color: var(--opacity-color);
  border-width: 100px;
  border-color: black;
}

.alltasks-container .tasklist .taskcard .visible-items {
  display: flex;
  flex-flow:row;
  width: 100%;
  align-items: center;
  height:100%;
  padding-left: 5vw;
}

.alltasks-container .tasklist .taskcard .mini-info {
  display: flex;
  flex-flow:column;
  width:90%;
  height:100%;
  padding-block: 2vh;
}

.alltasks-container .tasklist .taskcard .mini-info textarea {
  border: 0;
  background-color: transparent;
  width:90%;
  height:100%;
  overflow: auto;
  resize:none;
}

.alltasks-container .tasklist .taskcard .full-info-button img {
  height: 10vh;
  cursor: pointer;

}

.alltasks-container .tasklist .taskcard .full-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width:100%;
  padding-left: 5vw;
  padding-block: 5vh;
}

.alltasks-container .tasklist .taskcard .full-info .other-info {
  display:flex;
  flex-flow: column;

}

.alltasks-container .tasklist .taskcard .full-info .take-task-button {
  height: 100%;
  background: var(--opacity-color);
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  margin-inline: 2vw;
  transition: transform 0.3s, box-shadow 0.3s; /* Добавляем плавное изменение свойств при ховере */
}

.alltasks-container .tasklist .taskcard .full-info .take-task-button:hover {
  transform: translateZ(5px);
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5), 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Добавляем тень при ховере */
  cursor: pointer;
}

.alltasks-container .tasklist .taskcard .full-info .take-task-button p {
  padding-inline: 10px;
  padding-block: 3vh;
  margin: 0;
}






/* .alltasks-container .tasklist .taskcard .full-info .take-task-button .button {
  width: 100%;
  height: 100%;
  background-color: var(--opacity-color);
  cursor: pointer;
  padding: 2vh;
  
} */

.alltasks-container .tasklist .taskcard .full-info .take-task-button :hover {
  
  
}

